@font-face {
    font-family: 'tt-forsBold';
    src: url('/fonts/tt-fors-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'tt-fors-demiBold';
    src: url('/fonts/tt-fors-demiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'tt-fors-regular';
    src: url('/fonts/tt-fors-regular.ttf') format('truetype');
  }

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

  .redley-text{
    font-family: 'Cedarville Cursive', cursive;
    font-style: italic;
    font-weight: 500;
  }
  .timeline-cover{
      background-image: url('/assets/images/home/background.png');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      background-size: cover;
  }

    
  .logo{
    position: absolute;
     max-width:150px;
     bottom: 10px;
     right:10px;
  }

  .logoposition{
     left:10px;
  }


  .timeline-cover h1{
     font-family: 'tt-forsBold';
     color:#12395D;
     font-size:45px;
  }
  
  .timeline-cover h3{
     font-family: 'tt-fors-demiBold';
     color:#12395D;
  }
  
  .timeline-cover p{
     font-family: 'tt-fors-regular';
     color:#12395D;
     font-size: 20px;
  }
  .img-shree-cover{
     text-align: center;
  }
  .img-shree-cover img{
     width:70%;
  }
    /* Timeline container */
    .timeline {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }
  
    /* Timeline item */
    .timeline__item {
      position: relative;
      margin-bottom: 50px;
    }
  
    /* Timeline image */
    .timeline__image {
      position: absolute;
      width: 20%;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
    }
  
    .timeline__image img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    /* Timeline content */
    .timeline__content {
      margin-left: 30%;
      padding: 20px;
      /* background-color: #f2f2f2; */
      background-color: #ddf2fa;
      border-radius: 20px;
    }
  
    /* Timeline content: alternate side */
    .timeline__item:nth-child(even) .timeline__image {
      left: auto;
      right: 0;
    }
  
    .timeline__item:nth-child(even) .timeline__content {
      margin-left: 0;
      margin-right: 30%;
      text-align: right;
    }
  
    /* Timeline content: alternate background color */
    .timeline__item:nth-child(even) .timeline__content {
      background-color: #ddf2fa;
    }
  

      .banner-wrapper{
      /* background-color: rgb(0, 0, 0); */
      position: relative;
      /* background-image: url('/assets/images/video_high_banner.gif'); */
      /* background-image: url('/assets/images/video_homebanner.gif'); */
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: center;
      z-index: 0;
      }
  
      .banner_text  {
      border-radius: 20px;
      /* background: rgba(255,255,255,0.3); */
      background: rgba(96,128,211,0.3);
      padding: 20px;
      margin:40px;
  }
  
      .banner-wrapper::before{
        display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background-color: rgba(0, 0, 0, 0.15);
          padding: 0;
          width: 100%;
          content: '';
      }
      .drop-zone {
    max-width: 300px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border: 4px dashed #009578;
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  
  
  @media screen and (max-width:540px){
     /* .banner-wrapper{
        height:auto;
     } */

     .logo {

      max-width: 90px;

  }
  
     .timeline-cover h1 {
      font-size: 18px;
  }
  
  .banner_text h1{
     font-size:18px;
  }
  .banner_text {
      border-radius: 20px;
      padding: 10px;
      margin: 20px;
  }
  
  .timeline-cover p {
      font-size: 14px;
  }
  
  .timeline__image {
      width: 28%;
  }
  }

  @media screen and (max-width:768px){
    .banner-wrapper{
      /* background-color: rgb(0, 0, 0); */
      /* background-image: url('/assets/images/mob_banner.gif'); */
      }
  }